// ========================================
//
// @file _layout.scss
// Basic page layouts, widths, margins, paddings
//
// ========================================
.layout-container {
  max-width: 1200px;
  margin: auto;
}