// ========================================
//
// @file _settings.scss
// Fonts, colors, breakpoints and other various variables
//
// ========================================

// - - - - - - - - - - - - - - - - - - - -
// Base font size
// - - - - - - - - - - - - - - - - - - - -
$base-font-size: 16px;

// - - - - - - - - - - - - - - - - - - - -
// Colors
// - - - - - - - - - - - - - - - - - - - -
$color-white: white;
$color-black: black;
$color-blue: #29c1e1;
$color-orange: #f7931d;
$color-border: #dde7e9;
$color-karla: #9ca0a6;
$color-font: #1D1D1D;
$color-gray: #6E6E70;
$color-darkgray: #292929;


//image icon variable
$image : "/themes/custom/onboard_kick/assets/images/icons";


// - - - - - - - - - - - - - - - - - - - -
// Fonts
// - - - - - - - - - - - - - - - - - - - -
$font-open-sans: 'Open Sans', sans-serif;

// - - - - - - - - - - - - - - - - - - - -
// Grid
// - - - - - - - - - - - - - - - - - - - -
$screen-xs: 420px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-xs-min: rem($screen-xs);
$screen-sm-min: rem($screen-sm);
$screen-md-min: rem($screen-md);
$screen-lg-min: rem($screen-lg);

$screen-xs-max: rem(($screen-sm - 1));
$screen-sm-max: rem(($screen-md - 1));
$screen-md-max: rem(($screen-lg - 1));
$screen-lg-max: rem($screen-lg);

$grid-columns: 12;
$grid-gutter: 30px;
$grid-gutter-width: rem(($grid-gutter / 2));

$container-xs: rem(($screen-xs + $grid-gutter));
$container-sm: rem(($screen-sm + $grid-gutter));
$container-md: rem(($screen-md + $grid-gutter));
$container-lg: rem(($screen-lg + $grid-gutter));
