// ========================================
//
// @file _footer.scss
// Footer element on the page
//
// ========================================

.footer {

}

.region-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  @media screen and (max-width:$screen-sm) {
    display: block;
    text-align: center;
  }
}
.footer-menu {
  ul {
    padding: 0;
    li {
      text-decoration: none;
      list-style: none;
      line-height: 2rem;

      a {
        color: $color-karla;
        padding-left: 0;
        &:hover {
          color: $color-font;
        }

      }
    }
  }
}

.mybutton {
  background-image: none;
  border: none;
  padding: 6.5px 15px 6px 15px;
  background-color: $color-blue;
  color: #fff;
}

.myemail {
  background-image: none;
  padding: 6px;
  border-radius: 0px !important;
  border: 1px solid #A1A1A1;
}
.block-block-content8c5d9c78-e002-447c-b6fc-2488dc5c767e {
  margin-bottom: 2em;
}