// ========================================
//
// @file _forms.scss
// Inputs and other various form elements
//
// ========================================

label {

}

input[type=text],
input[type=email],
input[type=password] {
    background-image: none;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #A1A1A1;

  &:focus {
    border: 1px solid $color-orange;

  }
}

textarea {

  &:focus {

  }
}

input[type=checkbox] {

}

input[type=radio] {

}

input[type=file] {

  &:focus {

  }
}