// ========================================
//
// @file _navigation.scss
// All the navigation elements on the page
//
// ========================================

.navigation {

}
.region-header {
  text-transform: uppercase;
}

.read-more {
  background-color: #29c1e1;
  color: #fff;
  padding: 0.5% 2%;
  border-radius: 1rem;

  &:hover {
    background-color: $color-orange;
  }
}
.region-primary-menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.7em;
  //position: fixed;
  //width: 100%;
  //background-color: white;
  //z-index: 10;
  //box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);


  @media (max-width: $screen-sm) {
    display: block;

  }

  @media (max-width: $screen-xs) {
    display: none;

  }
}

.agile-navigation {
  width:40%;
  display: flex;
  @media (max-width: $screen-sm) {
    display: block;
    margin: auto;
    width: 100%;

  }

  ul.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;

    @media (max-width: $screen-sm) {
      display: block;
      margin: auto;
      text-align: center;

    }
  }
}
.menu--main .menu-item {
  display: inline-block;
  @media (max-width: $screen-sm) {
    display: block;
  }
  a {
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    color: $color-karla;

    @media (max-width: $screen-md) {
      font-size: 1em;
      //display: block
      padding: 5px;
    }
    @media (max-width: $screen-sm) {
      font-size: 1.4em;
      display: block;
    }

    //padding: 10px;

    &:hover {
      color: $color-font;
    }
  }
}

.navigation.menu--account ul li {
  display: inline;
  @media (max-width: $screen-xs) {
    display: block;
    text-align: center;
  }
  //margin: auto;
  a {
    text-decoration: none;
    background-color: $color-blue;
    padding: 7px;
    border-radius: 1rem;
    color: #fff;
    word-break: keep-all;
    text-transform: uppercase;

    @media (max-width: $screen-sm) {
      font-size: 1em;
    }
    @media (max-width: $screen-xs) {
      border-radius: 0;
      display: block;
    }
    &:hover {
      background-color: $color-orange;
    }
  }
}
.menu--account ul.menu {
  @media (max-width: $screen-sm) {
    text-align: center;
    padding: 10px;
  }
}
.search-block {
  display: flex;
  justify-content: center;
  align-items: center;

  .js-form-item-title::before {
    content: ':';
    color: #fff;
    padding-right: 0.5em;
    @media (max-width: 540px) {
      display: none;
    }
  }
}

.search-block .form--inline {
  display: flex;
  justify-content: space-between;
  @media (max-width: 540px) {
    display: inline-block;
    width: 220px;
    margin: auto;
  }
}

.search-block .button {
  color: #fff;
  background-color: $color-orange;
  padding: 6px 17px 6px 17px;
  border: none;
  border-radius: 5px;
}
.search-block .form-autocomplete {
  width: 195px;
}
.search-block .form-select {
  width: 195px;
  background-image: none;
  background-color: #fff;
  border: 1px solid lightslategray;
  border-radius: 4px;
  padding: 4px;
  color: #817b7b;
  &:focus {
    border: 1px solid $color-orange;
  }
}
.region-highlighted {
  background-color: #6E6E70;
  display: flex;
  justify-content: center;
  @media (max-width: $screen-sm) {
    display: block;
  }
}

.contact-us   a {
  @media (max-width: $screen-sm) {
    display: block;
    border-radius: 0;
    text-align: center;
    font-size: 1.2em;
  }
  text-decoration: none;
  background-color: $color-blue;
  padding: 7px;
  border-radius: 1rem;
  color: #fff;
  word-break: keep-all;
  text-transform: uppercase;
  &:hover {
    background-color: $color-orange;
  }
}

.contact-us ul.menu {
  @media (max-width: $screen-sm) {
    margin: auto;
  }
}

.block-block-content57bf0330-a33f-4dd4-93cb-f30ed791cba6,
.block-block-contentab235a70-b6cf-4a9a-b71a-df080315c64c,
.block-block-content43569a4a-53e3-40bf-a102-70f33100fa1a {
  margin-right: 1em;
  align-self: center;

  p {
    align-self: center;
    color: #fff;
    border-left: 5px solid #F7931D;
    margin-bottom: 1em;
    padding-left: 2em;
    font-size: 1.1em;
    @media (max-width: $screen-sm) {
      margin: auto;
    }
  }
}

.search-span {
  background-color: #F7931D;
  font-size: 0.8em; }

@media (max-width: $screen-sm) {
  .navigation.menu--account ul {
    margin: auto;
  }

}

//hamburger----------

.hamburger {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  width: 40px;
  height: 40px;
  @media (max-width: $screen-xs) {
    display: unset;
  }
}

.dropbtn {
  padding: 6px;
  font-size: 6px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #7b7b7b;
  transition: 0.4s;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.hambi-account {
  background-color: $color-blue;
}
a.hambi-account {
  color: #fff;
  &:hover {
    color: $color-blue;
  }
}

.hambi-account.contact---us {
  background-color: $color-orange;
}
a.hambi-account.contact---us {
  color: #fff;
  &:hover {
    color: $color-orange;
  }
}

//hamburger end----------
