.mypage-title {
  margin-bottom: 0;
  font-weight: normal;
  color: $color-font;
  text-transform: uppercase;
}
.mypage-subtitle {
  margin-top: 0;
  font-weight: normal;
  color: $color-font;
  text-transform: uppercase;
}

.mycompanies-page {

  .views-field-title {
    font-size: 1.5em;


    a {
      color: $color-font;
      border-left: 4px solid $color-blue;
      padding-left: 1em;

      &:hover {
        border-left: 4px solid $color-orange;
        padding-left: 0.2em;
      }
    }
  }

  .company-body {
    color: $color-karla;
    padding-bottom: 1em;
  }
  .company-link {
    background-color: #29c1e1;
    color: #fff;
    padding: 0.5% 2%;
    border-radius: 1rem;
    transition: 0.5s;
    padding: 0.4em 0.9em;

    a {
      color: #fff;

    }

    &:hover {
      background-color: $color-orange;
    }

  }

}

.mycompanies-page .views-row {
  padding: 2em 0em;
  border-bottom: 1px solid #e0e0e2;

  .company-logo {
    float: left;
    margin-right: 2em;
  }
  &:nth-child(6) {
    border-bottom: 0;

  }
}

.node--type-company .field__item {
  a {
    color: $color-font;
  }
}

.field--name-field-company-logo {
  float: left;
  clear: both;
  margin-right: 2em;
}

//company icons

.field--name-field-company-industry {
  width: 320px;
  margin: 1em;
  border: 2px solid lightgray;
  padding: 1em;
  display: inline-block;
  transition: 0.5s;


  a {
    text-decoration: none;
    color: #1a1a1a;
    display: block;
  }
  a::before {
    content: "\f013";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: $color-font;
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s;
  }
  &:hover {
    border: 2px solid $color-orange;
    a::before{
      border-right: 2px solid $color-orange;
      color: $color-orange;
    }
  }
}

.field--name-field-company-website {
  width: 320px;
  margin: 1em;
  border: 2px solid lightgray;
  padding: 1em;
  display: inline-block;
  transition: 0.5s;


  a {
    text-decoration: none;
    color: #1a1a1a;
    display: block;
  }
  a::before {
    content: "\f1b3";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: $color-font;
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s;
  }
  &:hover {
    border: 2px solid $color-orange;
    a::before{
      border-right: 2px solid $color-orange;
      color: $color-orange;
    }
  }
}

.field--name-field-company-phone-number {
  width: 320px;
  margin: 1em;
  border: 2px solid lightgray;
  padding: 1em;
  display: inline-block;
  transition: 0.5s;


  a {
    text-decoration: none;
    color: #1a1a1a;
    display: block;
  }
  a::before {
    content: "\f095";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: $color-font;
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s;
  }
  &:hover {
    border: 2px solid $color-orange;
    a::before{
      border-right: 2px solid $color-orange;
      color: $color-orange;
    }
  }
}

.field--name-field-company-email {
  width: 320px;
  margin: 1em;
  border: 2px solid lightgray;
  padding: 1em;
  display: inline-block;
  transition: 0.5s;

  a {
    text-decoration: none;
    color: #1a1a1a;
    display: block;
  }
  a::before {
    content: "\f1fa";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: $color-font;
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s;
  }
  &:hover {
    border: 2px solid $color-orange;
    a::before{
      border-right: 2px solid $color-orange;
      color: $color-orange;
    }
  }
}

.field--name-field-company-address {
  max-width: 819px;
  height: auto;
  display: flex;
  border: 2px solid lightgrey;
  padding: 5px;
  overflow: auto;
  iframe {
    order: 1;
    align-self: center;
    margin-right: 5px;
    margin: auto;
  }
}
.field--name-field-company-industry, .field--name-field-company-website,
.field--name-field-company-phone-number, .field--name-field-company-email {
  @media (max-width: $screen-md) {
    margin: auto;
    display: block;
    margin-bottom: 1em;
  }

}

p.simple-gmap-address {
  color: $color-font;
  height: 20%;
  font-size: 1.2em;
  display: inline-block;
  width: 20%;
  padding-left: 2%;
  border-left: 4px solid $color-blue;
  margin: auto;
  @media (max-width: $screen-sm) {
    display: none;
  }
  @media (max-width: $screen-md) {
    font-size: 1em;
  }

}

.field--name-field-company-address::before {
  content: '\f0b1';
  font-family: FontAwesome;
  color: #cfcccc;
  font-size: 3em;
  margin: auto;
  //padding-left: 1em;

  @media (max-width: $screen-md) {
    font-size: 2em;
  }

  @media (max-width: $screen-sm) {
    display: none;
  }

}

//media queries

@media screen and (max-width: $screen-xs) {
  .mycompanies-page {
    .views-field-link-to-revision {
      margin-left: 33%;
    }

  }
}