.events-row {
  background-color: #E5EDEF;
  //padding-bottom: 2em;
  margin-bottom: 1em;
  //display: inline-block;
  width: 350px;
  //margin: auto;
  margin-bottom: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  .event-time {
    color: $color-font;
    font-size: 2.5em;
    padding-top: 0.5em;
  }
  .event-date {
    color: $color-darkgray;
    font-size: 1.2em;
    padding-bottom: 1em;

  }
  .views-field-title {
    a {
      color: $color-darkgray;
      font-size: 1.2em;
    }
  }
  .views-field-link-to-revision {
    padding: 2em;
  }

  .read-more-events {
    background-color: #29c1e1;
    color: #fff;
    padding: 0.5% 2%;
    border-radius: 1rem;
    transition: 0.5s;
    padding: 0.4em 0.9em;


    a {
      color: #fff;

    }

    &:hover {
      background-color: $color-orange;
    }
  }
}

.events-row .event-body {
  color: $color-karla;
  padding-bottom: 2.5em;
}
.myevents-page .view-header {
  padding-left: 1.6em;
}

.field--name-field-event-image img {
  border-radius: 50%;
  margin: auto;
  margin-top: 2em;
}
.node--type-event {
  h2 {
    text-align: center;
    color: $color-font;
  }
  .field--name-body {
    padding-left: 60px;
    @media (max-width: $screen-md) {
      text-align: center;
      padding-left: 0;
    }
  }
  .field__label {
    border-left: 4px solid $color-orange;
    padding-left: 0.5em;
    font-size: 1.5em;
    font-weight: normal;
    color: $color-font;
  }
  .field--name-field-end-date .field__label {
    border-left: 4px solid $color-blue;
    font-size: 1.5em;
    font-weight: normal;
    color: $color-font;
  }
  .field--type-entity-reference {
    text-align: center;
    font-size: 1.5em;
    padding-top: 0.5em;

    a {
      color: $color-font;
      border-left: 4px solid $color-blue;
      padding-left: 0.5em;
    }

  }
  time {
    font-size: 1.5em;
    color: $color-font;
  }
}
.field--name-field-end-date {
  width: 45%;
  float: right;
  clear: left;
  margin-top: 2em;
}
.field--name-field-start-date {
  width: 45%;
  margin-left: 10%;
  margin-top: 2em;
}

.node--type-event .field--name-field-end-date .field__label, .node--type-event .field__label,
.node--type-event time {
  @media (max-width: $screen-sm) {
    font-size: 1em;
  }
}

.myevents-page .view-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.events-row:nth-child(odd) {
  .views-field-field-event-image {
    order: 1;
  }
  .views-field-field-event-image::before {
    content: '\25bc';
    font-size: 4em;
    margin-top: -18px;
    position: absolute;
    color: #E5EDEF;
    margin-left: -30px;
  }
}

.events-row:nth-child(even) {
  .views-field-field-event-image::after {
    content: '\25b2';
    font-size: 4em;
    margin-top: -66px;
    position: absolute;
    color: #E5EDEF;
    margin-left: -30px;
  }
}

//events single sidebar

.view-sidebar-first-event-organizer {
  margin-bottom: 1em;
  display: inline-block;
  min-width: 300px;
  .views-row {
    border: 2px solid #e2e2e2;
    padding: 10px;

  }
  .views-field-title {
    border-left: 3px solid $color-orange;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 11%;
    a {
      color: $color-font;
      padding-left: 5px;
      font-size: 1.5em;
    }
  }
  .views-field-view-node {
    margin-left: 11em;
    @media (max-width: $screen-md) {
      margin: auto;
    }
    a {
      color: $color-orange;
    }
  }
  .views-field-field-company-logo {
    display: inline-block;
  }
  .views-field-body {
    margin-bottom: 0.5em;
    p {
      color: $color-karla;
    }
  }
}

.view-duplicate-of-sidebar-first-event-location  {
  margin-bottom: 1em;
  display: inline-block;
  min-width: 300px;
  .views-row {
    border: 2px solid #e2e2e2;
    padding: 10px;

  }
  .views-field-title {
    border-left: 3px solid $color-blue;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 11%;
    a {
      color: $color-font;
      padding-left: 5px;
      font-size: 1.5em;
    }
  }
  .views-field-view-node {
    margin-left: 11em;
    @media (max-width: $screen-md) {
      margin: auto;
    }
    a {
      color: $color-blue;
    }
  }
  .views-field-field-location-image {
    display: inline-block;
  }
  .views-field-body {
    margin-bottom: 0.5em;
    p {
      color: $color-karla;
    }
  }
}

