// ========================================
//
// @file _landing.scss
// Landing page specific styling
//
// ========================================

.front {

}

div.slider-caption {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;

  h1 {
    font-family: Karla-bold;
  }

  p {
    font-size: 1.5rem;
  }
}

div.banner-caption {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  height: auto;
  h1 {
    font-size: 3.5vw;
  }
  p {
    font-size: 1.5vw;
  }
  @media (max-width: $screen-sm) {
    p {
      font-size: 2.5vw;
    }
  }
}
ul.slick-dots {
  bottom: 4%;
}
span.free {
  color: $color-orange;
}
.free-service {
  margin-bottom: 2rem;
  clear: both;
  padding: 30px 20px;
  border-bottom: 2px solid #eef1f6;
  border-top: 2px solid #eef1f6;
  max-width: 1200px;
  margin: auto;
  margin-top: 1em;


  h2 {
    color: $color-font;
  }

  h5 {
    color: $color-karla
  }
}
.free-service .read-more {
  &:nth-of-type(1) {
    padding: 0.5% 3.3%;
  }
}

.front-page p {
  color: $color-karla;
  word-wrap: break-word;
  font-size: 1em;
}

.boost-block {
  float: left;
  max-width: 380px;
  //top: 1em;
  clear: right;
  display: inline-block;
  margin: auto;
  p {
    font-size: 1em;
    color: $color-karla;
  }
  strong {
    color: $color-font;
  }
  img {
    float: left;
    margin-right: 0.5em;
  }
  @media (max-width: 1160px) {
    float: none;
    clear: none;
    display: block;

  }
}
.front-page {
  float: left;
  max-width: 780px;
  margin: auto;
  display: inline-block;
  @media (max-width: 1160px) {
    float: none;
    text-align: center;
    display: block;

    img {
      margin: auto;

    }
  }
}
.latest-events {
  clear: both;
  background-color: #E5EDEF;
  .views-field-title {
    padding-top: 1em;
    text-transform: uppercase;
    padding-left: 1em;
    a {
      color: $color-font;
    }

  }
  .views-field-field-start-date {
    color: $color-orange;
    padding-top: 1em;
    padding-left: 1em;
  }
  .view-content {
    max-width:1200px;
    margin: auto;
  }
  img {
    width: 100%;
    height: auto;
  }

}
.latest-events .grid__content {
  //text-align: center;
  background-color: #fff;
  padding: 0 0 2em 0;
  //margin: auto;
}

.latest-events li[class*='grid--'] {
  box-shadow: 0px 7px 4px -3px rgba(0,0,0,0.55);
}
.latest-events .view-header .mypage-title {
  padding-left: 2.3em;
  padding-bottom: 1em;
  font-weight: 800;
}
.latest-events .view-header .mypage-subtitle {
  padding-left: 3.7em;
  padding-bottom: 1em;

}
.view-latest-evens {
  padding: 2em 0;
}
.latest-events nav.pager {
  display: none;
}
.views-field-field-event-image img {
  margin: auto;
}
.view-featured-compani {
  max-width: 1200px;
  margin: auto;
  .views-field-field-company-logo {
    float: left;
    padding-right: 1em;
  }
  .views-field-title a{
    color: $color-font;
    font-size: 1.2em;
    font-weight: 700;
  }
  .views-field-body p{
    color: $color-karla;
    font-size: 1em;
  }
}

.custom-title {
  color: $color-font;
  border-bottom: 1px solid #eef1f6;
  max-width: 100%;
}

img.triangle-b {
  position: absolute;
  right: 110px;
  top: 30px;
}
img.triangle-o {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

.triangles-pair {
  width: 80%;
  margin: auto;
  position: relative;
  padding-bottom: 4em;
  margin-bottom: 3em;
}

.footer2-text {
  text-align: center;
  text-transform: uppercase;
}
p.footer2-text {
  color: $color-karla;
  border-top: 1px solid #d8d8d8;
  margin-top: 0;
  font-size: 0.9em;
  @media (max-width: $screen-sm){
    margin-bottom: 1em;
    font-size: 0.7em;
  }
}
.email-text {
  color: $color-karla;
}

@media screen and (max-width: $screen-sm) {
  .triangles {
    width: 30%;
    height: auto;
  }
}