.locations-page .view-content {
  //display: inline-block;

  .views-field-title {
    padding-left: 1em;
    padding-top: 1em;
    text-transform: uppercase;
    a {
      color: $color-orange;
    }

  }
  img {
    max-width: 100%;

  }
  .views-field-body {
    padding-left: 1em;
    display: inline-block;
    @media (max-width: $screen-md) {
      margin: auto;
    }
    p {
      margin-top: 0;
      color: $color-font;
    }
  }
}

.locations-page .view-header {
  padding-left: 1em;
}
.locations-page .view-content {
  text-align: center;
}
.locations-row {
  background-color: #E5EDEF;
  padding: 0 0 2em 0;
  margin-bottom: 1em;
  display: inline-block;
  width: 265px;
  margin: auto;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: left;
}

//location single

.field--name-field-location-website {
  width: 300px;
  margin: 1em;
  border: 2px solid lightgray;
  padding: 1em;
  display: block;
  transition: 0.5s;
  @media (max-width: $screen-sm) {
    margin: 1em auto 1em;

  }


  a {
    text-decoration: none;
    color: #1a1a1a;
    display: block;
  }
  a::before {
    content: "\f1b3";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: $color-font;
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s;
  }
  &:hover {
    border: 2px solid $color-orange;
    a::before{
      border-right: 2px solid $color-orange;
      color: $color-orange;
    }
  }
}

.field--name-field-location-phone-number {
  width: 300px;
  margin: 1em;
  border: 2px solid lightgray;
  padding: 1em;
  display: block;
  transition: 0.5s;
  @media (max-width: $screen-sm) {
    margin: 1em auto 1em;

  }
  a {
    text-decoration: none;
    color: #1a1a1a;
    display: block;
  }
  a::before {
    content: "\f095";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: $color-font;
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s;
  }
  &:hover {
    border: 2px solid $color-orange;
    a::before{
      border-right: 2px solid $color-orange;
      color: $color-orange;
    }
  }

}

.field--name-field-location-email {
  width: 300px;
  margin: 1em;
  border: 2px solid lightgray;
  padding: 1em;
  display: block;
  transition: 0.5s;
  @media (max-width: $screen-sm) {
    margin: 1em auto 1em;

  }
  a {
    text-decoration: none;
    color: #1a1a1a;
    display: block;
  }
  a::before {
    content: "\f1fa";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: $color-font;
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s;
  }
  &:hover {
    border: 2px solid $color-orange;
    a::before{
      border-right: 2px solid $color-orange;
      color: $color-orange;
    }
  }
}

.field--name-field-location-equipment {

  .field__item a {
    text-transform: uppercase;
    color: #fff;
    padding: 5px 12px;
    background-color: $color-blue;
    &:hover {
      background-color: $color-orange;
    }
  }
  .field__item {
    margin: 1em;
    display: inline-block;

  }
}

.field--name-field-location-equipment {
  float: right;
  width: 400px;
  @media (max-width: $screen-md) {
    float: none;
    margin: auto;
    width: auto;
    display: inline-block;
  }
}
.field--name-field-location-address {
  max-width: 819px;
  height: auto;
  display: flex;
  border: 2px solid lightgrey;
  padding: 5px;
  overflow: auto;
  iframe {
    order: 1;
    align-self: center;
    margin-right: 5px;
  }
}

.field--name-field-location-address::before {
  content: '\f0b1';
  font-family: FontAwesome;
  color: #cfcccc;
  font-size: 3em;
  margin: auto;
  //padding-left: 1em;

  @media (max-width: $screen-md) {
    font-size: 2em;
  }

  @media (max-width: $screen-sm) {
    display: none;
  }
}

.field--name-field-location-image {
  margin: 1em auto 1em;
}

.node--type-location .field--name-field-location-image {
  display: inline-block;
}
.node--type-location .field--name-body {
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
  @media (max-width: $screen-md) {
    margin: 0 auto 1em;
  }
  p:nth-child(1) {
    margin-top: 0;
  }
}
.node--type-location .node__content {
  margin-top: 1em;
}